# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core
project.assets.json
*.nuget.props
*.nuget.targets
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.env
*.env.local
